.Popup--container {
  width: 80vw;
  height: 80vh;
  background-color: white;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
}

.Popup--container img {
  border-radius: 10px 0px 0px 10px;
  width: 80%;
  object-fit: cover;
}

.popup-title--wrapper{
  position: absolute;
  padding: 10px 40px;
  bottom: 0;
  width: 80%;
  color: white;
  background-color: rgba(0,0,0,.3);
}

.popup-title--wrapper h4, .popup-title--wrapper h5{
  letter-spacing: .1em;
  font-weight: 300;
}

.popup-title--wrapper h4 {
  font-size: 3em;
}

.background--container {
  width: 100vw;
  height: 100vh;
  background-color:black;
  opacity: .4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}